.absolute {
    position: absolute;
}

.background-overlay {
    opacity: 0.8;
    background-color: #FFF;
    min-height: 350px;
}

body {
    font-size: 14px;
}

.body-content {
    min-height: 85vh;
}

.btn-primary {
    background-color: #00B2CA;
    min-width: 100px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus, 
.btn-primary:active:hover {
    background-color: #009cb1;
    min-width: 100px;
    border: 1px solid transparent;
}

.footer {
    margin-top: 2em;
}

.footer-background {
    position: relative;
    bottom: 0;
    background-color: #41414E;
    width: 100%;
}

.footer-container {
    display: block;
    width: 85%;
    margin: auto;
}

.footer-text {
    color: #CACACA;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: #41414E;
}

label {
    font-size: 17px;
    font-weight: lighter;
}

#main-content {
    margin-top: -15px;
}

#main-content:first-child {
    padding-top: 30px;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.navbar-inverse {
    background-color: #41414E;
    border: none;
}

.navbar-inverse .navbar-nav > li {
    color: #FFFFFF;
    cursor: pointer;
    border-bottom: none;
    margin-right: 10px;
}

.navbar-inverse .navbar-nav > li.active {
    background-color: #41414E;
    border-bottom: 5px solid #00B2CA;
}

.navbar-inverse .navbar-nav > li:hover {
    border-bottom: 5px solid #00B2CA;
}

.navbar-inverse .navbar-nav > li > a {
    color: #CACACA;
    line-height: 25px;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: inherit;
}

.navbar-offset-top {
    margin-top: 75px;
}

.navbar-offset-bottom {
    margin-top: 50px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

@media (max-width:767px)
{
    #content {
        min-height: inherit;
    }
}

/***************************
    Global Error CSS
****************************/

.error-heading {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 64px;
    text-align: center;
    color: #03244d;
}

.error-body {
    margin-bottom: 1.5em;
    font-size: 28px;
    text-align: center;
    color: #496e9c;
}

@media (max-width:767px)
{
    .error-heading {
        margin-top: inherit;
        font-size: 48px;
        text-align: center;
        color: #03244d;
    }

    .error-body {
        font-size: 24px;
        text-align: center;
        color: #496e9c;
    }
}

@media (max-width:530px)
{
    .error-heading {
        margin-top: inherit;
        font-size: 32px;
        text-align: center;
        color: #03244d;
    }

    .error-body {
        font-size: 18px;
        text-align: center;
        color: #496e9c;
    }
}