/// <reference path="../_variables.scss" />

.absolute {
    position: absolute;
}

.background {
    background-color: $primaryColor;
}

.background-container {
    background-color: $primaryColor;
}

.background-overlay {
    opacity: 0.8;
    background-color: #FFF;
    min-height: 350px;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.225px;
    color: #555;
    width: 100%;
    overflow-x: hidden;

    h1 {
        font-size: $xlText;
    }

    h2 {
        font-size: $lgText;
    }

    h3 {
        font-size: $mdText;
    }

    h4 {
        font-size: $smText;
    }

    h5 {
        font-size: $smText;
    }

    h6 {
        font-size: $default;
    }
}

.border-bottom {
    border-bottom: 1px solid #dfdfdf;
}

.content-section {
    min-height: 35vh;
    display: flex;
    align-items: center;
    position: relative;

    &.alternate { background-color: #efefef; }
}

div.navigation {
    cursor: pointer;
}

label {
    font-weight: lighter;
}

#main-content {
    flex: 1;   
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.padding-bottom {
    padding-bottom: 100px;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.site-content {
    flex: 1;
    align-items: center;
    display: flex;

    .container {
        max-width: 970px;
    }
}

.text-white {
    color: #FFF;
}

.wrap {
    word-wrap: break-word;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/***************************
    Global Error CSS
****************************/

.error-heading {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    font-size: $xlText;
    text-align: center;
    color: #03244d;
}

.error-body {
    font-size: $lgText;
    text-align: center;
    color: #496e9c;
}

@media (max-width:767px) {
    .error-heading {
        margin-top: inherit;
        font-size: $xlText;
        text-align: center;
        color: #03244d;
    }

    .error-body {
        font-size: $lgText;
        text-align: center;
        color: #496e9c;
    }
}

@media (max-width:530px) {
    .error-heading {
        margin-top: inherit;
        font-size: $lgText;
        text-align: center;
        color: #03244d;
    }

    .error-body {
        font-size: $mdText;
        text-align: center;
        color: #496e9c;
    }
}

@media (max-width: 550px) {
    body {
        font-size: 14px;
    }
}