/// <reference path="../_variables.scss" />

#file-upload-section {
    h2 {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .btn-file {
        position: relative;
        overflow: hidden;

        input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    }

    .checkbox-field {
        margin-bottom: 0.25em;
    }

    .download-link-text {
        font-size: $lgText;
        color: grey;
    }

    .input-height {
        height: 34px !important;
    }

    input[type="checkbox"] ~ label {
        vertical-align: middle;
    }

    #upload-feedback {
        margin-top: 7rem;
    }
}