.footer {
    margin-top: 2em;
    margin-bottom: 2em;
}

.footer-background {
    background-color: #41414E;
    width: 100%;
    flex: none;
}

.footer-container {
    display: block;
    width: 85%;
    margin: auto;
    min-height: 15vh;
}

.footer-text {
    color: #CACACA;
}