#news-feed {
    >a {
        font-size: 32px;
        color: grey;

        &:active, &:focus, &:hover, &:visited {
            font-size: 32px;
            color: #00B2CA;
            text-decoration: none;
            outline: none;
        }

        &:not(:first-child) {
            margin-top: 45px;
        }
    }

    ul {
        list-style-type: none;

        li {
            margin-bottom: 15px;
            padding: 10px;
            font-family: Helvetica;
            font-size: 17px;
        }
    }

    p {
        font-family: Helvetica;
        font-size: 17px;
    }

    img {
        max-width: 100%;
    }
}