/*Site Colors*/
/*Font Sizes*/
/*Media sizes*/
/*Base*/
.absolute {
  position: absolute; }

.background {
  background-color: #00B2CA; }

.background-container {
  background-color: #00B2CA; }

.background-overlay {
  opacity: 0.8;
  background-color: #FFF;
  min-height: 350px; }

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.225px;
  color: #555;
  width: 100%;
  overflow-x: hidden; }
  body h1 {
    font-size: 200%; }
  body h2 {
    font-size: 175%; }
  body h3 {
    font-size: 150%; }
  body h4 {
    font-size: 125%; }
  body h5 {
    font-size: 125%; }
  body h6 {
    font-size: 100%; }

.border-bottom {
  border-bottom: 1px solid #dfdfdf; }

.content-section {
  min-height: 35vh;
  display: flex;
  align-items: center;
  position: relative; }
  .content-section.alternate {
    background-color: #efefef; }

div.navigation {
  cursor: pointer; }

label {
  font-weight: lighter; }

#main-content {
  flex: 1; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.padding-bottom {
  padding-bottom: 100px; }

.pointer {
  cursor: pointer; }

.relative {
  position: relative; }

.site-content {
  flex: 1;
  align-items: center;
  display: flex; }
  .site-content .container {
    max-width: 970px; }

.text-white {
  color: #FFF; }

.wrap {
  word-wrap: break-word; }

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/***************************
    Global Error CSS
****************************/
.error-heading {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  font-size: 200%;
  text-align: center;
  color: #03244d; }

.error-body {
  font-size: 175%;
  text-align: center;
  color: #496e9c; }

@media (max-width: 767px) {
  .error-heading {
    margin-top: inherit;
    font-size: 200%;
    text-align: center;
    color: #03244d; }
  .error-body {
    font-size: 175%;
    text-align: center;
    color: #496e9c; } }

@media (max-width: 530px) {
  .error-heading {
    margin-top: inherit;
    font-size: 175%;
    text-align: center;
    color: #03244d; }
  .error-body {
    font-size: 150%;
    text-align: center;
    color: #496e9c; } }

@media (max-width: 550px) {
  body {
    font-size: 14px; } }

/*Components*/
.btn-primary {
  background-color: #00B2CA;
  min-width: 100px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover {
    background-color: #009cb1;
    min-width: 100px;
    border: 1px solid transparent; }

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  margin: 0; }

input[type="checkbox"] ~ label {
  cursor: pointer;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input[type="checkbox"] ~ label:before {
  content: "";
  display: inline-block;
  height: 19px;
  width: 19px;
  margin: 1px 4px 0 0;
  vertical-align: middle;
  border-radius: 20%;
  border: solid 2px #ccc;
  box-shadow: 0 0 1px #fff;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 15px; }

input[type="checkbox"]:checked ~ label:before {
  border: solid 2px #808080;
  border-radius: 20%;
  background-color: #fff; }

input[type="checkbox"] ~ label:hover:before,
input[type="checkbox"]:checked ~ label:before {
  border: solid 2px #808080;
  border-radius: 20%;
  background-color: #fff; }

input[type="checkbox"]:checked ~ label:after {
  content: '\2714';
  position: absolute;
  border-radius: 20%;
  top: 1px;
  left: 18px;
  color: #808080; }

input[type="checkbox"] ~ label {
  display: inline; }

label > span {
  padding-left: 1em; }

/*Layout*/
#about-me .about-block {
  margin: auto;
  max-width: 650px;
  margin-top: 3em;
  color: grey;
  border: 2px solid #E2E2E2;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 30px; }

#about-me img {
  border: 4px solid #00B2CA;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 30px;
  -ms-interpolation-mode: bicubic; }

#file-upload-section h2 {
  margin-top: 2em;
  margin-bottom: 2em; }

#file-upload-section .btn-file {
  position: relative;
  overflow: hidden; }
  #file-upload-section .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }

#file-upload-section .checkbox-field {
  margin-bottom: 0.25em; }

#file-upload-section .download-link-text {
  font-size: 175%;
  color: grey; }

#file-upload-section .input-height {
  height: 34px !important; }

#file-upload-section input[type="checkbox"] ~ label {
  vertical-align: middle; }

#file-upload-section #upload-feedback {
  margin-top: 7rem; }

.footer {
  position: relative; }
  .footer p.copyright {
    position: absolute;
    bottom: 5px;
    left: 5px; }
  .footer .icon {
    display: inline-block;
    font-size: 60px;
    height: 60px;
    width: 60px;
    line-height: 60px; }
  .footer .icon-anchor,
  .footer .icon-anchor:hover,
  .footer .icon-anchor:active,
  .footer .icon-anchor:focus {
    color: #fff;
    text-decoration: none;
    outline: none; }
  .footer .icon-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer .icon-parent-container {
    padding: 35px 0px;
    font-size: 1.5em; }
  .footer .icon-text {
    font-size: 100%; }

.footer-background {
  background-color: #41414E;
  width: 100%;
  flex: none; }

.footer-container {
  display: block;
  width: 85%;
  margin: auto;
  min-height: 15vh; }

.footer-text {
  color: #CACACA; }

@media (max-width: 550px) {
  .footer .icon-parent-container {
    font-size: 1.25em; }
    .footer .icon-parent-container .icon-text {
      display: none; }
    .footer .icon-parent-container .icon-text-mobile {
      font-size: 75%; } }

.navbar {
  margin-bottom: 0; }

.navbar-inverse {
  background-color: #41414E;
  border: none;
  flex: none; }
  .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: inherit; }
  .navbar-inverse .navbar-nav li {
    color: #FFFFFF;
    cursor: pointer;
    border-bottom: none;
    margin-right: 10px; }
    .navbar-inverse .navbar-nav li.active, .navbar-inverse .navbar-nav li:hover {
      border-bottom: 5px solid #00B2CA; }
    .navbar-inverse .navbar-nav li a {
      color: #CACACA;
      line-height: 25px; }

#homepage .banner-section {
  min-height: 15vh; }

#homepage .banner-background {
  background: url("/Content/Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

#homepage .help-block {
  font-size: 125%;
  margin-bottom: 0; }

#homepage .icon-parent-container {
  padding: 35px 0px;
  font-size: 1.5em; }
  #homepage .icon-parent-container .icon-anchor,
  #homepage .icon-parent-container .icon-anchor:hover,
  #homepage .icon-parent-container .icon-anchor:active,
  #homepage .icon-parent-container .icon-anchor:focus {
    color: #fff;
    text-decoration: none;
    outline: none; }
    #homepage .icon-parent-container .icon-anchor .icon-container,
    #homepage .icon-parent-container .icon-anchor:hover .icon-container,
    #homepage .icon-parent-container .icon-anchor:active .icon-container,
    #homepage .icon-parent-container .icon-anchor:focus .icon-container {
      display: flex;
      justify-content: center;
      align-items: center; }
      #homepage .icon-parent-container .icon-anchor .icon-container .icon,
      #homepage .icon-parent-container .icon-anchor:hover .icon-container .icon,
      #homepage .icon-parent-container .icon-anchor:active .icon-container .icon,
      #homepage .icon-parent-container .icon-anchor:focus .icon-container .icon {
        display: inline-block;
        font-size: 60px;
        height: 60px;
        width: 60px;
        line-height: 60px; }

#homepage .icon-text {
  font-size: 100%; }

#homepage .icon-text-mobile {
  display: none; }

#homepage .inline {
  display: inline; }

#homepage .main-banner {
  font-size: 200%;
  background-color: white;
  padding: 70px;
  border-radius: 10px; }

#homepage .max-icon {
  max-height: 60px;
  max-width: 60px; }

#homepage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6; }

#homepage .sub-section-font {
  color: #777;
  font-size: 125%; }
  #homepage .sub-section-font:active, #homepage .sub-section-font:focus, #homepage .sub-section-font:hover, #homepage .sub-section-font:visited {
    color: #00B2CA;
    text-decoration: none;
    outline: none; }
  #homepage .sub-section-font i {
    font-size: 200%;
    margin-right: 15px; }

@media (max-width: 991px) {
  #homepage .content-section {
    min-height: 35vh; }
  #homepage .help-block {
    font-size: 100%; }
  #homepage .icon-parent-container {
    font-size: 1em; }
  #homepage .main-banner {
    font-size: 175%; }
  #homepage .sub-section-font {
    font-size: 125%; } }

@media (max-width: 767px) {
  #homepage .content-section {
    min-height: 25vh; }
  #homepage .icon-parent-container .icon-text {
    display: none; }
  #homepage .icon-parent-container .icon-text-mobile {
    display: block;
    font-size: 75%; }
  #homepage .sub-section-font {
    font-size: 100%; } }

@media (max-width: 550px) {
  #homepage .content-section {
    min-height: 20vh; }
  #homepage .icon-parent-container {
    font-size: 1.25em; }
  #homepage .main-banner {
    font-size: 175%; } }

#login {
  background: no-repeat center center #41414E;
  background-size: cover;
  box-shadow: 0px 20px 60px -5px #000;
  color: #FFF;
  position: relative;
  height: 560px;
  max-width: 405px;
  width: 100%;
  margin: auto;
  padding: 60px 60px;
  font-size: 125%;
  letter-spacing: 1px; }
  #login .active {
    border-bottom: 2px solid #00B2CA; }
  #login form {
    margin-top: 1.5em;
    width: 100%;
    max-width: 100%; }
    #login form > a {
      color: #FFF;
      text-align: center;
      display: block;
      top: 90px;
      position: relative;
      text-decoration: none;
      opacity: 0.4; }
    #login form .label-format {
      display: inline-block;
      padding-top: 30px;
      padding-left: 10px; }
    #login form #sign-in-checkbox {
      margin-top: -3px; }
    #login form .signin {
      background-color: #00B2CA;
      color: #FFF;
      width: 100%;
      padding: 10px 20px;
      display: block;
      height: 39px;
      border-radius: 20px;
      margin-top: 30px;
      transition: all 0.2s ease-in-out;
      border: none;
      text-transform: uppercase; }
      #login form .signin:hover {
        background: #009CB1; }
      #login form .signin:focus {
        outline: none; }
    #login form > span {
      margin-left: 20px; }
      #login form > span.login-text {
        text-transform: uppercase;
        font-size: 100%;
        opacity: 0.4; }
    #login form .text {
      border: none;
      width: 100%;
      padding: 10px 20px;
      display: block;
      height: 15px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid rgba(255, 255, 255, 0);
      overflow: hidden;
      margin-top: 7px;
      transition: all 0.5s ease-in-out; }
    #login form .text:focus {
      outline: 0;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      background: transparent; }
  #login hr {
    border: 1px solid #FFF;
    top: 65px;
    position: relative;
    opacity: 0.1; }
  #login .inactive {
    opacity: 0.2; }
  #login input {
    display: inline-block;
    padding-top: 20px; }
  #login input[type="checkbox"] ~ label:before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 1px 4px 0 0;
    vertical-align: middle;
    border-radius: 15%;
    border: solid 1px #54545F;
    background-color: #54545F;
    position: absolute;
    top: 3px;
    left: 0px; }
  #login input[type="checkbox"] ~ label:hover:before,
  #login input[type="checkbox"]:checked ~ label:before {
    border: solid 1px #54545F;
    border-radius: 15%;
    background-color: #54545F; }
  #login input[type="checkbox"]:checked ~ label:after {
    content: '\2714';
    position: absolute;
    border-radius: 15%;
    top: 0px;
    left: 1px;
    color: #00B2CA; }
  #login .login-heading {
    padding-left: 10px;
    font-size: 175%;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    margin-left: 20px; }
    #login .login-heading:first-child {
      padding-left: 0px; }

/*Media Queries*/
@media (max-width: 405px) {
  #login {
    padding: 15px 25px;
    height: 450px; }
    #login form > a {
      top: 70px; }
    #login hr {
      margin-top: -20px; }
    #login .login-heading {
      font-size: 150%; } }

#news-feed a {
  color: #258BE2; }

#news-feed > a {
  display: block;
  font-size: 200%;
  color: grey;
  margin-bottom: 0.5em; }
  #news-feed > a:active, #news-feed > a:focus, #news-feed > a:hover, #news-feed > a:visited {
    color: #00B2CA;
    text-decoration: none;
    outline: none; }
  #news-feed > a:not(:first-child) {
    margin-top: 3em; }

#news-feed img {
  max-width: 100%; }

#news-feed > p:last-of-type {
  margin-bottom: 5em; }

#news-feed ul {
  list-style-type: none; }
  #news-feed ul li {
    margin-bottom: 15px;
    padding: 10px; }

@media (max-width: 767px) {
  #news-feed > a {
    font-size: 175%; } }

@media (max-width: 550px) {
  #news-feed ul {
    margin-left: -30px; }
    #news-feed ul li {
      margin-bottom: 15px;
      padding: 10px; } }

