<div id="about-me" class="container">
    <img src="@Url.Content("~/Content/Images/Profile.jpg")" />
    <div class="about-block">
        <p>
            My name is Brandon Hurler and I have been a .NET web developer for the past two years. 
        </p>
        <p>
            This site is a personal project of mine that combines responsive design with creative software solutions.
            It was built using Bootstrap, SammyJS, and AJAX to create a a fluid, responsive single-page application,
            with the backend logic written in C#.<br />
        </p>
        <p>
            The code is freely available on my <a href="https://github.com/bhurler1/SisypheanSolutions">github</a>.
            If there are any questions about the site, email me at <a href="mailto:bhurler1@gmail.com">bhurler1@gmail.com</a>.
        </p>
    </div>
</div>