<div id="file-download">
    <h2>File Download</h2>
    <p>It appears you are trying to download a file that has been encrypted. Please provide the password for the file to unencrypt and download.</p>

    <input id="file" readonly class="form-control" />
    <input type="password" class="form-control"/>
</div>