<div class="container">
    <div class="jumbotron">
        <h1>Sisyphean Solutions</h1>
        <p class="lead">This is a personal project of mine used to provide simple services, such as file sharing and more.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>File Manager</h2>
            <p>
                File Manager gives you an easy, secure way to quickly upload and share files through optional
                256 bit AES Encryption. <br />
                Email the file links through the tool or copy them and send them directly.
            </p>
            <p><input type="button" class="btn btn-info file-manager" value="Try it" /></p>
        </div>
        <div class="col-md-4">
            <h2>More to Come</h2>
            <p>Good news! There's nothing here yet. Still working on polishing up the file share feature. Once that's done, the next phase will start.</p>
        </div>
        <div class="col-md-4">
            <h2>Nothing Here Either</h2>
            <p>There's nothing here either, and quite likely this page will end up changing a ton before I'm done.</p>
        </div>
    </div>
</div>