<style>
    .col-md-4 {
        position: relative;
        height: 250px;
    }

    .more {
        position: absolute;
        bottom: 0;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <h1>Sisyphean Solutions</h1>
        <p class="lead">This is a personal project of mine used to provide simple services, such as file sharing and more.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>File Manager</h2>
            <p>
                File Manager gives you an easy, secure way to quickly upload and share files through optional
                256 bit AES Encryption. <br /><br />
                Email the file links through the tool or copy them and send them directly.
            </p>
            <p class="more"><input type="button" class="btn btn-info file-manager" value="Try It" /></p>
        </div>
        <div class="col-md-4">
            <h2>WDRL <br /><small>by Anselm Hannemann</small></h2>
            <p>The Web Development Reading List an excellent compilation of the most recent web development news from <a href="https://wdrl.info">wdrl.info</a>.</p>
            <p class="more"><input type="button" class="btn btn-info news-feed" value="See Feed" /></p>
        </div>
        <div class="col-md-4">
            <h2>Nothing Here Either</h2>
            <p>There's nothing here either, and quite likely this page will end up changing a ton before I'm done.</p>
        </div>
    </div>
</div>