<div class="container">
    <h2>File Not Found<br />
        <small>
            It appears you are trying to download a file that doesn't exist. <br /> 
            The file may have been deleted or uploaded incorrectly.
        </small>
    </h2>
</div>