/*Site Colors*/
$primaryColor: #00B2CA;

/*Font Sizes*/
$baseText: 16px;

$xxlText: 250%;
$xlText: 200%;
$lgText: 175%;
$mdText: 150%;
$smText: 125%;
$default: 100%;
$xsText: 75%;

/*Media sizes*/
$largeDesktop: "min-width: 992px";
$smallDesktop: "max-width: 991px";
$tablet: "max-width: 767px";
$mobile: "max-width: 550px";