@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Internal Server Error";
}

<div>
    <h1 class="error-heading">500</h1>

    <div class="error-body">
        <span>There was an error processing your request. </span>
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
                    @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>